<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My News Site</title>
    <link rel="stylesheet" href="{% static 'css/newssite.css' %}">
</head>
<body>
    <h1>Welcome to "My News Site"</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'politics' %}">Politics</a></li>
            <li><a href="{% url 'sports' %}">Sports</a></li>
            <li><a href="{% url 'entertainment' %}">Entertainment</a></li>
        </ul>
    </nav>
</body>
</html>
